<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portulaca</title>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div id="menu" class="menu" v-cloak>
            {{ directory }} ({{ branch }})
            <span class="button" @click="sync">Sync</span>
        </div>
        <table id="list" v-cloak>
            <tr>
                <th>Target</th>
                <th>Commit</th>
                <th class="cell-date">Date</th>
                <th>Author</th>
                <th class="cell-branches">Merged branches</th>
                <th>Action</th>
            </tr>
            <tr v-for="item in items">
                <td><pt-link type="target" :value="item.target"></pt-link></td>
                <td><pt-link type="commit" :value="item.commit"></pt-link></td>
                <td><pt-link type="date" :value="item.date"></pt-link></td>
                <td><pt-link type="author" :value="item.author"></pt-link></td>
                <td>
                    <pt-link
                        class="chip-branch" type="branch"
                        v-for="branch in item.branches"
                        :value="branch"></pt-link>
                </td>
                <td>
                    <span class="button" @click="showNoMerges(item.target)" v-if="item.noMerges">
                        Non-merge: {{ item.noMerges }}
                    </span>
                </td>
            </tr>
        </table>
        <div id="console" class="console" :class="{ 'console-collapsed': collapsed }">
            <div class="console-toggle" @click="collapsed = !collapsed">↕</div><div v-for="line in lines" :class="line.class">{{ line.content }}</div>
        </div>
    </body>
    <script type="module" src="./index.js"></script>
</html>
