<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portulaca</title>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div id="menu" class="menu" v-cloak>
            {{ directory }} ({{ branch }})
            <span class="button" @click="sync">Sync</span>
        </div>
        <table id="list" v-cloak>
            <tr>
                <th>Target</th>
                <th>Commit</th>
                <th>Date</th>
                <th>Author</th>
                <th>Merged branches</th>
                <th>Operations</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.target }}</td>
                <td>{{ item.commit }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.author }}</td>
                <td>
                    <a class="chip-branch" v-for="branch in item.branches">{{ branch.name }}</a>
                </td>
                <td>
                    <span class="button" @click="checkout(item.target)">Checkout</a>
                </td>
            </tr>
        </table>
    </body>
    <script type="module" src="./index.js"></script>
</html>
